h1 {
  font-size: 2.5rem;
  font-family: "Roboto";
  margin-top: 2.5rem;
  padding: 0.25em 0.5em;
  letter-spacing: 0.05em;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.25em 0.5em;
}
.end-score {
  margin: 0;
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: rgba(var(--accent));
  font-weight: bold;
  font-size: 3rem;
  display: grid;
  place-content: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
}
form > button {
  margin-top: 0.62em;
  /* width:100%; */
}
@media only screen and (min-width: 54rem) {
  h1 {
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
}
